OPENAI_API_KEY=""

### VITS Config ###

# JP voices

# Beido: 305
# Candace: 309
# Eula: 317
# Ganyu: 319
# Hutao: 324
# Jean: 340
# Kamisato Ayaka: 303
# Keqing: 328
# Kuki Shinobu: 348
# Ningguan: 336
# Noelle: 337
# Raiden Shogun: 342
# Rosaria: 344
# Shenhe: 347
# Yae Miko: 359
# Yelan: 361
# Yoimiya: 362
VOICE_ID=324

### Subtitle Overlay Config ###

# Position of Subtitle, offset from bottom middle of screen
OFFSET_X=0
OFFSET_Y=-200

# The font size of subtitle text
SUBTITLE_FONT_SIZE=35

# The color of subtitle text
SUBTITLE_COLOR="white"

# The background color of your subtitles
SUBTITLE_BG_COLOR="black"

# The color that will be considered transparent
# Put the same value as SUBTITLE_BG_COLOR so background of subtitles will be transparent as well
# Putting the same value as SUBTITLE_COLOR will cause your subtitles to be invisible
SACRIFICIAL_COLOR="black"
